<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Action games</title>
		<link rel="stylesheet" href="/stylesheets/global.css" />
		<link rel="stylesheet" href="/stylesheets/gamecardspage.css" />
		<link rel="stylesheet" href="/stylesheets/mediaquery.css" />
	</head>
	<body>
		<div class="container">
			<div class="gradient-title">
				<h1>Action games</h1>
			</div>
			<div class="card-gallery">
				<!-- generate cards using for loop -->
				<% for (let gamecard of allcards){%>

				<div class="card gradient-div">
					<a href="/games/<%=gamecard._id %>">
						<div class="card-image">
							<img src="<%=gamecard.headerImage %>" alt="" />
						</div>
						<div class="card-name">
							<div class="tags">
								<%for(let tag in gamecard.tags) {%>
								<div class="tag">
									<p><%=gamecard.tags[tag]%></p>
								</div>
								<% } %> <%for(let plt in gamecard.platforms) {%>
								<div class="tag">
									<p><%=gamecard.platforms[plt]%></p>
								</div>
								<% } %>
							</div>
							<div class="gradient-title">
								<h2><%=gamecard.title%></h2>
							</div>
							<p>
								Grand Theft Auto V for PC offers players the
								option to explore the award-winning world of Los
								Santos and Blaine County in resolutions of up to
								4k and beyond.
							</p>
						</div>
					</a>
				</div>
				<% } %>
			</div>
		</div>
	</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Action</title>
</head>

<body>
    <h1>Action Games</h1>
    <div>
        <div class="container">
            <div class="row">
                <% for (let gamecard of allcards){%>
                <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="<%=gamecard.headerImage %>" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title"><%=gamecard.title %></h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="/games/<%=gamecard._id %>" class="btn btn-primary">Browse</a>
                                </div>
                              </div>  
                </div>
                <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html> -->
