<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="assets/logo/logo-gradient.svg" />
		<title>TheGamingNerd</title>
		<link rel="stylesheet" href="stylesheets/homepage.css" />
		<link rel="stylesheet" href="stylesheets/global.css" />
		<link rel="stylesheet" href="stylesheets/mediaquery.css" />
	</head>
	<body>
		<div class="container">
			<header>
				<div class="logo">
					<img src="assets/logo/logo-gradient.svg" alt="" />
				</div>
				<div class="logo-text gradient-title">
					<h1>The Gaming Nerd</h1>
				</div>
				<div class="header-right">
					<!-- to add: login, signup, search bar -->
					<% if(!currentUser) {%>
					<a href="/login" style="background-color: red">Login</a>
					<a href="/register" style="background-color: green"
						>Sign-up</a
					>
					<% } else {%>
					<a href="/logout" style="background-color: red">Logout</a>
					<% } %> search bar here
				</div>
			</header>

			<p><%- include("./partials/flash") %></p>

			<div class="section categories">
				<div class="gradient-title">
					<h1>Categories</h1>
				</div>
				<div class="card-gallery">
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/windows.svg" alt="" />
							</div>
							<div class="card-name"><p>Windows</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img
									src="assets/icons/playstation.svg"
									alt=""
								/>
							</div>
							<div class="card-name"><p>Playstation</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/xbox.svg" alt="" />
							</div>
							<div class="card-name"><p>Xbox</p></div>
						</a>
					</div>
				</div>
			</div>

			<div class="section genres">
				<div class="gradient-title">
					<h1>Genres</h1>
				</div>
				<div class="card-gallery">
					<div class="card gradient-div">
						<a href="genres/fps">
							<div class="card-image">
								<img src="assets/icons/fps.svg" alt="" />
							</div>
							<div class="card-name"><p>FPS</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="genres/action">
							<div class="card-image">
								<img src="assets/icons/action.svg" alt="" />
							</div>
							<div class="card-name"><p>Action</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/sports.svg" alt="" />
							</div>
							<div class="card-name"><p>Sports</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/racing.svg" alt="" />
							</div>
							<div class="card-name"><p>Racing</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/rpg.svg" alt="" />
							</div>
							<div class="card-name"><p>RPG</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/adventure.svg" alt="" />
							</div>
							<div class="card-name"><p>Adventure</p></div>
						</a>
					</div>
				</div>
			</div>
			<div class="section news">
				<div class="gradient-title">
					<h1>News & Articles</h1>
				</div>
				<!-- generate news using for loop -->
				<% for (let news in newscard) {%>

				<div class="news-content gradient-div">
					<a href="news/<%=newscard[news]._id%>">
						<div class="news-image">
							<img src="<%=newscard[news].thumbnail%>" alt="" />
						</div>
						<div class="news-info">
							<div class="gradient-title">
								<h2><%=newscard[news].headline%></h2>
							</div>
							<div class="tags">
								<!-- generate tags using for loop -->
								<% for (let tag in newscard[news].tags) {%>
								<div class="tag">
									<p><%=newscard[news].tags[tag]%></p>
								</div>
								<% } %>
							</div>
							<div class="news-desc">
								<p><%=newscard[news].sdesc%></p>
							</div>
						</div>
					</a>
				</div>
				<% } %>
			</div>
			<footer>
				<div class="logo">
					<a href="/"
						><img src="assets/logo/logo-gradient.svg" alt=""
					/></a>
				</div>
				<div class="footline">
					<p>
						Made with <img src="assets/icons/heart.svg" alt="" />
						<a href="/developers">by gamers,&nbsp;</a>
						for gamers
					</p>
				</div>
			</footer>
		</div>
	</body>
</html>
