<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= card.title %></title>
		<link rel="stylesheet" href="/stylesheets/global.css" />
		<link rel="stylesheet" href="/stylesheets/gameshowpage.css" />
		<link rel="stylesheet" href="/stylesheets/mediaquery.css" />
	</head>
	<body>
		<div class="container">
			<div class="banner gradient-div">
				<img src="<%=card.headerImage %>" alt="" />
			</div>
			<div class="game-details">
				<div class="gdetails-left gradient-div">
					<div class="poster">
						<img src="<%=card.posterImage %>" alt="" />
					</div>
					<div class="rate-stars">***** stars here</div>
				</div>
				<div class="section gdetails-right gradient-div">
					<div class="game-title-stats">
						<div class="gradient-title">
							<h1><%= card.title %></h1>
						</div>
						<div class="game-stats">
							<p class="gradient-title">Developer:</p>
							<p><%=card.developers %></p>
							<br />
							<p class="gradient-title">Release Date:</p>
							<p>22/6/2000</p>
							<br />

							<p class="gradient-title">Platform:</p>
							<div class="tags">
								<!-- generate tags using for loop -->
								<%for(let plt in card.platforms) {%>
								<div class="tag">
									<p><%=card.platforms[plt]%></p>
								</div>
								<% } %>
							</div>

							<br />
							<p class="gradient-title">Tags:</p>
							<div class="tags">
								<!-- generate tags using for loop -->
								<%for(let tag in card.tags) {%>
								<div class="tag">
									<p><%=card.tags[tag]%></p>
								</div>
								<% } %>
							</div>
						</div>
					</div>
					<div class="game-score">
						<div>
							<p class="gradient-title">Metacritic Score</p>
							<div class="score-circle">
								<p><b>87</b><sub>/100</sub></p>
							</div>
						</div>
						<div>
							<p class="gradient-title">User Score</p>
							<div class="score-circle">
								<p><b>90</b><sub>/100</sub></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section about gradient-div">
				<div class="gradient-title">
					<h2>About the game</h2>
				</div>
				<div class="game-desc">
					<p>
						When a young street hustler, a retired bank robber and a
						terrifying psychopath find themselves entangled with
						some of the most frightening and deranged elements of
						the criminal underworld, the U.S. government and the
						entertainment industry, they must pull off a series of
						dangerous heists to survive in a ruthless city in which
						they can trust nobody, least of all each other.
						<br /><br />Grand Theft Auto V for PC offers players the
						option to explore the award-winning world of Los Santos
						and Blaine County in resolutions of up to 4k and beyond,
						as well as the chance to experience the game running at
						60 frames per second.
					</p>
				</div>
			</div>
			<div class="section screenshots gradient-div">
				<div class="gradient-title">
					<h2>Screenshots</h2>
				</div>

				<div class="screenshots-gallery">
					<img src="/assets/images/gta.jpg" alt="" />
					<img src="/assets/images/gta.jpg" alt="" />
					<img src="/assets/images/gta.jpg" alt="" />
					<img src="/assets/images/gta.jpg" alt="" />
					<img src="/assets/images/gta.jpg" alt="" />
				</div>
			</div>
			<div class="section sys-req gradient-div">
				<div class="gradient-title">
					<h2>PC requirements</h2>
				</div>
				<div class="table-wrapper">
					<!-- this part onwards in incomplete -->
					<table>
						<tr>
							<th></th>
							<th><p>Minimum</p></th>
							<th><p>Recommended</p></th>
						</tr>
						<tr>
							<td><p>OS:</p></td>
							<td>
								<p>
									Windows 10 64 Bit, Windows 8.1 64 Bit,
									Windows 8 64 Bit, Windows 7 64 Bit Service
									Pack 1
								</p>
							</td>

							<td>
								<p>
									Windows 10 64 Bit, Windows 8.1 64 Bit,
									Windows 8 64 Bit, Windows 7 64 Bit Service
									Pack 1
								</p>
							</td>
						</tr>
						<tr>
							<td><p>Processor:</p></td>
							<td>
								<p>
									Intel Core 2 Quad CPU Q6600 @ 2.40GHz (4
									CPUs) / AMD Phenom 9850 Quad-Core Processor
									(4 CPUs) @ 2.5GHz
								</p>
							</td>

							<td>
								<p>
									Intel Core i5 3470 @ 3.2GHz (4 CPUs) / AMD
									X8 FX-8350 @ 4GHz (8 CPUs)
								</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<!-- to add: price section, comments section -->
		</div>
	</body>
</html>
